/*@import url('https://fonts.googleapis.com/css?family=Montserrat');*/

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f6f5f7;
}

* {
    cursor: default;
    font-family: 'Montserrat', sans-serif;
}

button, button *, a, a * {
    cursor: pointer;
}

input {
    cursor: text;
}