body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}

html {
	overflow: hidden;
	transition: 3s;
}


div#slides {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100% !important;
	transition: 0s;
}

div#text {
	position: absolute;
	right: 25px;
	top: 100px;
}

div#text p {
	float: right;
	background-color: black;
	color: white;
	font-size: 180%;
	padding: 3px 10px;
	font-weight: 900;
	font-family: Raleway;
	text-transform: uppercase;
	text-align: right;
	margin: 0px 0px 15px auto;
}

div#text span {
	text-decoration: none;
	color: #93cac5;
	cursor: pointer;
	transition: 300ms;
}

div#text span:hover {
	color: #d0f0fe;
}