body {
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    background-image: url(fon.jpg);
}
.frm fieldset p input:valid + span:after {
    color: green; 
}
.frm fieldset p input:invalid + span:after {
    color: red;     
} 
.frm {
    width: 50%;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: white;
}
.centr {
    text-align: center;
    color: #708090;
    margin: auto;
    font-weight: bold;
    margin-top: 15px;
}
.frm fieldset {
    margin: 15px;
}
.frm fieldset legend{
    color: #808080;
}
.frm fieldset p input{
    margin-top: 15px;
}
.frm fieldset p{
    margin-bottom: 25px;
}
.near {
    display: flex;
}
.near p {
    padding-left: 20px;
}
.near p:first-of-type {
    padding-left: 0;
}
.pbutton {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}
.button {
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    border-radius: 3px;
    padding: 8px 0;
    font-weight: bold;
    text-align: center;
    color: white;
    outline: 0;
    width: 150px;
    background-color: #3CB371;
}
.button:hover {
    background-color: #2E8B57;
}
.psec_button {
    width: 100%;
    text-align: center;
}
.sec_button {
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    border-radius: 3px;
    padding: 8px 0;
    font-weight: bold;
    text-align: center;
    color: white;
    outline: 0;
    width: 150px;
    background-color: #20B2AA;
}
.sec_button:hover {
    background-color: #008B80;
}
textarea {
    margin-bottom: 20px;
}